.crater-display-panel{
    position: fixed;
    box-shadow: 1px 1px black, -1px -1px #666666;
    z-index: 1000;
    background-color: white;
    top: 0;
    right: 0;
}

.crater-display-panel #search-webpart{
    width: 290px;
    border: 1px solid #bbbbbb;
    padding: 4px;
    font-size: 1.2em;
    display: block;
}

.crater-display-panel .select-webparts{
    height: 300px;
    width: 290px;
    padding: 5px;
    overflow: auto;
    display: block;
    text-align: left;
}

.crater-display-panel .display-pane-controls {
    display: block;
    width: 300px;
}

.crater-display-panel .display-pane-controls button{
    display: inline-block;
    width: 150px;
    padding: .5em 0em;
}

.crater-display-panel .single-webpart{
    padding: 5px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    width: 40px;
    vertical-align: top;
}

.crater-display-panel .single-webpart:hover{
    transition-duration: .3s;
    box-shadow: 1px 1px 5px #bbbbbb, -1px -1px 5px #bbbbbb;
}

.crater-display-panel .single-webpart .image{
    width: 40px;
    height: 50px;
}

.crater-display-panel .single-webpart .title{
    font-size: 1em;
    text-transform: capitalize;
    word-break: break-all;
    text-overflow: clip;
}
