.crater-edit-window {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--dark-accient-color);
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100vh;
    width: 100%;
}

.crater-edit-window .crater-menu {
    background-color: var(--secondary-color);
    color: var(--accient-color);
    height: max-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px dotted gray;
}

.crater-edit-window .crater-menu .crater-menu-item {
    display: inline-block;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
}

.crater-edit-window .crater-menu .crater-menu-item:hover {
    transition-duration: .4s;
    background-color: var(--light-primary-color);
}

.crater-editor {
    background-color: var(--secondary-color);
    overflow: auto;
    text-align: center;
    padding: 1em;
}