.crater-panel {
    padding: 1em .5em;
    min-height: 100px;
}

.crater-panel:hover {
    box-shadow: 1px 1px 2px #aaaaaa, -1px -1px 2px #aaaaaa;
}

.crater-panel-title {
    background-color: var(--accient-color);
    color: var(--secondary-color);
    font-size: 1.2em;
    text-align: center;
}

.crater-panel-content {
    padding: .5em 0em;
}